{% extends 'core/base.html' %}

{% block title %} Welcome {% endblock %}


{% block content%}
<h1 class="text-xl" style="font-weight: 500;">
    Contact and projects below
</h1> <br><br><br>

<h2>
        <a  href="https://www.linkedin.com/in/harvey-hussein-deaibes-080756121/">LinkedIn Link: <u>www.linkedin.com/in/harvey-hussein-deaibes-080756121</u></a><br><br>
        <a href="https://github.com/MyBestHub">GitHub Link: <u> https://github.com/MyBestHub</u></a><br><br>
        Email: hussein_deaibes1@hotmail.com    
</h2>
{% endblock %}
